<div class="search-list">
    <div id="search-box">
        <input #searchBox type="search" id="item-search-input-box" placeholder="Search"
            (input)="filterItems(searchBox.value)">
        <button (click)="reload(); searchBox.value=''" id="reload-button">Reload</button>
    </div>

    <div class="filter-buttons">
        <button (click)="sortByDescription()" id="sort-description-button">Sort by description</button>
        <button (click)="sortByCreatedTime()" id="sort-createTime-button">Sort by creation time</button>
        <button (click)="switchDone()" id="switch-done-button">Show / hide done</button>
    </div>

    <table class="search-result">
        <tr *ngFor="let item of items" class="items">
            <input type="checkbox" id="item-done" [(ngModel)]="item.done"
                (change)="changeDoneForChildren(item); saveItem(item);">
            <!-- <input type="checkbox" id="done" [(ngModel)]="item.done" disabled="disabled"> -->
            <label [routerLink]="['/items', item.id]" id="item-description">
                {{item.description}}
            </label>
            <label id="item-status">{{getUnfinishedSubitemNumber(item)}}/{{item.children.length}}</label>
            <label id="item-createdTime">{{item.createdTime|date}}</label>
            <span class="like">
                <input type="checkbox" id="favorite-button" [(ngModel)]="item.favorite" (change)="saveItem(item)">
                <label for="favorite-button">❤</label>
            </span>
        </tr>
    </table>
    
</div>