/* .search-list {
  width: 50%;
  display: grid;
}

#item-search-input-box {
  margin: auto;
  width: 70%;
}

#reload-button {
  margin: auto;
  width: 30%;
  font-size: 15px;
}

.filter-buttons {
  display: list-item;
}

#sort-description-button {}

#sort-createTime-button {}

#switch-done-button {}

button {
  font-size: 10px;
}

.search-result {
    display: block;
    width: 100%;
}

.items{
    display: block;
    width: 100%;
} */