.search-list {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5px;
}

#search-box {
  width: 100%;
  display: grid;
  grid-template-columns: 80% 1fr;
  column-gap: 5px;
}

#item-search-input-box {
}

#reload-button {
}

.filter-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

#sort-description-button {}

#sort-createTime-button {}

#switch-done-button {}

button {
  font-size: 15px;
}

.search-result {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 200px;
  width: 100%;
  row-gap: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid rgb(162, 167, 154);
}

.items {
  display: grid;
  grid-template-columns: 5% 1fr 10% 20% 10%;
}

#item-done {}

#item-description {
  margin-left: 5px;
}

#item-status {
  font-size: 10px;
  margin: auto;
  color: rgb(148, 163, 163);
}

#item-createdTime {
  font-size: 10px;
  margin-left: 10px;
  margin: auto;
}

.like {}

#favorite-button:checked+label {
  color: #F06586;
}

#favorite-button+label {
  color: rgb(207, 202, 202);
}
