.detail {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -0%);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5px;
}

button{
    font-size: 12px;
    text-align: center;
}


.back {

}

#back-button {
    
}

.item-detail {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  column-gap: 5px;
}

.item-done,
.item-favorite {
  margin: auto;
}


.subItem {
  display: flex;
  justify-content: space-between;
}

#subitems-label {
  font-size: 15px;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

#add-subitem-button {}




#item-decription {}

#item-favorite {
    
}

.item-children-box {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    row-gap: 3px;
    border: 1px solid rgb(120, 124, 113);
    padding: 3px;
    height: 200px;
    /* margin-top: 5px;
    margin-bottom: 5px; */
  }

.children-item {
  display: grid;
  grid-template-columns: 5% 1fr 18%;
  column-gap: 5px;
}

#subitem-done {
    margin-left: 2px;
    margin-top: auto;
    margin-bottom: auto;
}

#subitem-description {
    
}

#subitem-delete-button {

}

#item-done {

}


.bottom-operation {
    display: grid;
    grid-template-columns: 18% 1fr 18%;
    column-gap: 5px;
}

#item-delete-button {

}

#create-time {
  text-align: center;
  font-size: 12px;
  margin: auto;
}

#item-save-button {
  float: right;
}
